.gradle
Backend/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### Angular 2 App ###
logs/*
!.gitkeep
Frondend/node_modules/
Frondend/typings/
bower_components/
tmp
.DS_Store