.gradle
Backend/build/
Backend/CucumberReports/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### Angular 2 App ###
logs/*
*.log
!.gitkeep
Frontend/node_modules/
Frontend/typings/
bower_components/
tmp
.DS_Store