<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['../viewnews']">View News</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <form #newsForm="ngForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" minlength="1" required [(ngModel)]="title" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea class="form-control" required minlength="1" [(ngModel)]="body" name="body" id="body"></textarea>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" minlength="1" required [(ngModel)]="author" name="author" id="author">
            </div>

            <div class="form-group">
                <label for="publishDate">Publish date</label>
                <input type="text" class="form-control" pattern="^\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$" placeholder="yyyy-mm-dd" required [(ngModel)]="publishDate" name="publishDate" id="publishDate">
            </div>

            <button type="submit" [disabled]="!newsForm.form.valid" class="btn btn-primary" (click)= 'createNewNews()'>Save</button>
        </form>

    </div>
</div>